---
import BaseLayout from "../../layouts/BaseLayout.astro";

import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
    const gpEntries = await getCollection("2023");
    return gpEntries.map((entry) => ({
        params: { year: entry.collection, gp: entry.id },
        props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<"2023">;
}

const { entry } = Astro.props;
const { year, gp } = Astro.params;

function convertToTitleCase(str: string | undefined) {
    if (!str) {
        return "";
    }
    return str.toLowerCase().replace(/\b\w/g, (s) => s.toUpperCase());
}

const gpTitle = convertToTitleCase(gp);
---

<BaseLayout title={`${year} ${gpTitle} GP`}>
    <h1>
        {`${year} ${entry.data.name} GP`}
    </h1>
</BaseLayout>
