@import 'tailwindcss';

@plugin 'daisyui';
@plugin 'daisyui/theme' {
  name: 'light';
  default: true;
  color-scheme: light;

  --color-primary: #f09a9a;
  --color-secondary: #e2bd86;
  --color-accent: #f16f49;
  --color-neutral: #291334;
  --color-base-100: #faf7f5;
  --color-base-200: #efeae6;
  --color-base-300: #e7e2df;
  --color-base-content: #291334;
}
@plugin 'daisyui/theme' {
  name: 'dark';
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #660f0f;
  --color-secondary: #77531d;
  --color-accent: #b4340e;
  --color-base-100: #15191e;
  --color-base-200: #191e24;
  --color-base-300: #1d232a;
}
