@use "sass:map";

$theme-colors-light: (
  "body": #fafaf8,
  "header": #292b23,
);

$theme-colors-dark: (
  "body": #151515,
  "header": #fff,
);

@mixin light-theme {
  @include set-theme("light");
}

@mixin dark-theme {
  @include set-theme("dark");
}

/* These are all of hte available colors for use in the website, they will
   change dynamically, either by the system or by the user. */
@mixin set-theme($name) {
  $theme: $theme-colors-light;

  @if $name == "dark" {
    $theme: $theme-colors-dark;
  }

  --theme-body: #{map.get($theme, "body")};
  --theme-header: #{map.get($theme, "header")};
}
