---
import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Us">
  <h1>About Us</h1>

  <Card>
    <h2>Daniel Luna</h2>
    <h3>Software Developer</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium,
      animi. Soluta beatae quas quo ab ex molestias assumenda tenetur similique,
      facere error. Dolores dolorum et eius ex ullam culpa, assumenda
      exercitationem debitis, autem dicta vel minima blanditiis sint harum
      consequatur?
    </p>
  </Card>

  <Card>
    <h2>David Luna</h2>
    <h3>Graphic Designer</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
      voluptates veniam porro doloremque explicabo. Eum nulla ipsa quam eius
      harum animi neque. Corporis debitis error reiciendis sint. Autem tenetur
      amet, assumenda voluptate alias, quod maxime accusantium pariatur,
      mollitia eos impedit.
    </p>
  </Card>
</BaseLayout>
