---
export interface Props {
  interactive?: boolean;
  href?: string;
  nonselectable?: boolean;
}

const { interactive, href, nonselectable } = Astro.props;
---

<div
  class="card"
  class:list={{
    interactive: interactive || href,
    padding: !href,
    nonselectable,
  }}
>
  {
    href ? (
      <a href={href}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</div>

<style>
  .card {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
  }

  .card.nonselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .card.interactive:hover {
    cursor: pointer;
  }

  .card.padding {
    padding: 1rem;
  }

  a {
    display: block;
    height: 100%;
    padding: 1rem;
  }
</style>
