---
---

<footer>
    <p>© 2023 Daniel Luna, David Luna</p>
    <p id="legal">
        Formula One, Formula 1, F1 & Grand Prix are trademarks of Formula One
        Licensing BV.
    </p>
</footer>

<style>
    #legal {
        color: #9ca3af;
    }
</style>
