---

---

<nav>
    <div>
        <a href="/">F1 Race Panel</a>
    </div>

    <ul>
        <li><a href="/archive">Archive</a></li>
    </ul>

    <ul>
        <li><a href="/aboutus">About Us</a></li>
    </ul>
</nav>